@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  /* shared style css */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffff;
  }
  main , .nav-bar, .banner-section, footer{
    width: 1440px;
    margin: 0 auto;

  }
  main > section{
    margin: 7rem 0;
  }
  .flex{
    display: flex;
  }
  .btn-primary{
    
padding: 16px 40px 16px 40px;
border-radius: 42px;
background: rgb(230, 83, 60);
font-size: 1.2rem;
font-weight: 600;
line-height: 1.3rem;
border: none;
margin-top: 1.8rem;


  }
  .shape{
    font-family: "Dancing Script", cursive;
    background: none;
  }
  .tittle{
    font-size: 3rem;
font-weight: 900;

  }
  .sub-tittle{
color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;

margin: .8rem 0;

  }
  .secondary-color{
    color: rgba(255, 255, 255, 0.5);
  }
  /* nav bar section */
  header{
    background: linear-gradient(180deg, #171717, #292929, #171717);
  }
  .nav-bar{
    justify-content: space-between;
    align-items: center;
    border: 3px solid red;
    padding: 2rem 0;
    background: linear-gradient(180deg, #171717, #292929, #171717);
  }
  .logo{
    font-size: 2.2rem;
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
    background: none;
  }
  .nav-item{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 2.4rem;
padding: 0.5rem;
background: none;

  }
  .nav-list{
    margin-left: 30px;
    padding: 0.5rem 1.2rem;
    border-radius: 2.9rem;
    background: none;
    
  }
  .nav-link{
    text-decoration: none;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 600;
    background: none;
  }
  .nav-color {
    background-color: #E6533C;
  }
  .hamburg{
    display: none;
  }
  /* banner-section */
  .banner-section{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid red;
    background: linear-gradient(180deg, #171717, #292929, #171717);
  }
  .banner-content{
    width: 50%;
    border: 3px solid red;
    background: linear-gradient(180deg, #171717, #292929, #171717);
  }
  .banner-tittle{
    font-size: 4.9rem;
    font-weight: 900;
    background: none;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 400;
    padding: 1.8rem 0;
    color: rgba(255, 255, 255, 0.5);;
  }
  .banner-img img{
    background: none;
  }
 
 
  .banner-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 87px;
    border: 3px solid red;
    position: relative;
    
   background: none;
    width: 50%;
  }
  .download-btn{
    padding: 16px 40px 16px 40px;
border-radius: 42px;
font-size: 1.2rem;
font-weight: 600;
line-height: 1.3rem;
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
background: none;


  }
  
  
  .tutorial{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 0.8rem;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
padding: 0.7rem 2rem;
justify-content: center;
align-items: center; 
flex-direction: row;
background: linear-gradient(180deg, #171717, #292929, #171717);
  }

  p{
    background: none;
    
  }
  
  .video{
    font-size: 2rem;
font-weight: 900;
background: none;
flex-direction: column;
 


  }
  .text{
    font-size: 1rem;
font-weight: 400;
background: none;
  }
  .btn-t{
    flex-direction: column;
    background: none;
  }
  .round  i{
    color: #E6533C;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 0.9rem;
    background: none;
    
  }
  .tutorial-top{
    position: absolute;
    margin-left: 270px;
    margin-top: -200px;
  }
  .tutorial-bottom{
    position: absolute;
    margin-left:-400px;
    margin-bottom: -350px;

   
  }
 /*  <!-- Change Your Habits --> */
 .habit-content{
  text-align: center;
 }
 .round-img-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 .round-img-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .round-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #222222;
 }
 .round-img-description{
    text-align: center;
 }
 .movement{
    font-size: 1.3rem;
font-weight: 600;
padding-top: 1rem;
 }
/* BMI Calculator */
.bmi-details{
  justify-content: space-between;
  align-items: center;
}

.bmi-content{
  width: 700px;
  margin: 0 auto;
 text-align: justify;
}
.bmi-tittle-1{
  font-size: 2.3rem;
font-weight: 900;
margin-bottom: 3.7rem;
}
.bmi-tittle{
  font-size: 2.3rem;
font-weight: 900;
margin-bottom: 1rem;
}
table{
  
  border-collapse: collapse;
  
 

}
table,th,td{
  border: 3px solid rgba(255, 255, 255, 0.1) ;
  padding: 1.5rem 2rem;
  text-align: center;
 
}
th{
  font-size: 1.8rem;
font-weight: 500;
}
td{
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.bmi-contact-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bmi-intro{
  text-align: justify;
  width: 620px;
  margin: 0 auto;
}
.input-text{
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

input, select{
  padding: 2rem 1.5rem;
  width: 300px;
  border-radius: 16px;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  

}
.option select{
  width: 100%;
}





/*  Trainings and Exercises  */
.excercise-color-image-one{
  
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.6fr;
}
.excercise-color-image-two{
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.8fr;

}

.color-img img{
  
  height: 300px;
  width: 100%;
  object-fit: cover;
  display: inline-block;
}
.text{
  font-weight: 500;
  font-size: 1.2rem;
}
.color-img p{
  margin-top: -50px;
  margin-left: 20px;
}
.color-2 p{
  margin-top: -250px;
  margin-left: 20px;
  
  

}









 /* Run an Extra 
Mile Easily */
.extra-mile-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #232322;
    border-radius: 1rem;

}
.extra-mile-left{
  width: 50%;
  align-content: center;
  text-align: left;
  background: none;
  
}
.run-tittle{
  font-size: 3rem;
  font-weight: 900;
  background: none;

}
.run-sub-tittle{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin: .8rem 0;
}

     .extra-mile-right{
      display: flex;
  flex-direction: column;
  align-items: center;
      width: 40%;
      height: 350px;
      border-radius: 16px;
     background-image: url("../images/run.jpg");
      background-size: 300%;
      background-position: -80% 30%;
    }












     /*Meet Our Team  */
     
 .meet-content{
    text-align: center;
 }
 
.grid-img-section{
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
   

 }
 .grid-img img{
    width: 100%;
    height:320px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    position: relative;
 }
 .grid-tittle{
    position: absolute;
    margin-top: -90px;
    margin-left: 50px;
    background: none;
    font-size: 1.5rem;
 }
 .trainer p{
    position: absolute;
    margin-top: -50px;
    margin-left: 50px;
    background: none;
    font-size: 1.2rem;

 }
 /* footer-container */
 #footer{
  background: #232322;
   
  
 }
 .footer-container{
   
  max-width: 1440px;
  margin: 0 auto;
  background: #232322;
  padding: 7rem 3rem;
   
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    background: #232322;
   
 }
 .fitlogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #232322;
    width: 33.33%;
 }
    
 
 .get-start{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #232322;
    width: 33.33%;
 }
 .started{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
    background: #232322;
 }
 .footer-tittle{
    font-size: 2rem;
font-weight: 700;
background: #232322;

 }
 .footer-sub-tittle{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  
  
 

 }
 ul{
    list-style: none;
    background: #232322;
 }
 ul > li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
    background: #232322;

font-size: 1.5rem;
font-weight: 400;
margin: 0.8rem;
    
 }
 .footer-logo{
    font-size: 5rem;
    color: #E6533C;
    font-style: italic;
    font-weight: 800;
    background: #232322;
    padding-bottom: 1rem;
 }
 .last-container{
  
  width: 1200px;
  margin: 0 auto;
  border-top: 3px solid rgba(255, 255, 255, 0.1);
 }
 
 .last-section{
  text-align: center;
  background: #232322;
  padding: 1.8rem;
  font-size: 1.2rem;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
 }
 
 